[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
starlette = "*"
uvicorn = "*"
python-multipart = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
passlib = "*"
python-jose = {extras = ["cryptography"] }
phonenumbers = "*"
jinja2 = "*"
requests = "*"
twilio = "*"
pytest = "*"
pydantic-extra-types = "*"
faker = "*"
weasyprint = "*"
pydantic-settings = "*"
email-validator = "*"

[dev-packages]
faker = "*"

[requires]
python_version = "3.10"