.swagger-ui .topbar .wrapper .link span {
   display: none !important;
}

.swagger-ui .topbar .wrapper .link {
   background: url("/files/img/logo.jpg") no-repeat left center !important;
   background-size: contain !important;
   width: 160px !important;
   height: 40px !important;
}